
	<nav class="nav row fixed-top" style="box-shadow: 0 0 15px 0 #000000; padding-top: 5px">
		<div class="col-sm-3">
			<div>
				<a class="title" href="/">Express<img id="logo" src="pictures/js.svg"></a>
			</div>
		</div>
		<div class="col-sm-9">
			<ul class="nav justify-content-end" style="padding-right: 100px;">
				<li class="nav-item">
					<a class="nav-link" href="/install">Install</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/how">How</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/result">Result</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/rating">Rating</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/credits">Credits</a>
				</li>
			</ul>
			
		</div>
	</nav>
