<form method="post" action="/page">
	<nav class="nav row fixed-top" style="box-shadow: 0 0 15px 0 #000000; padding-top: 5px">
		<div class="col-sm-3">
			<div>
				<button class="title" name="menuitem" value="title">Express<img id="logo" src="pictures/js.svg"></button>
			</div>
		</div>
		<div class="col-sm-9">
			<ul class="nav justify-content-end" style="padding-right: 100px;">
				<li class="nav-item">
					<button class="nav-link" name="menuitem" value="install">Install</button>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<button class="nav-link" name="menuitem" value="how">How</button>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<button class="nav-link" name="menuitem" value="result">Result</button>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<button class="nav-link" name="menuitem" value="rating">Rating</button>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item">
					<button class="nav-link" name="menuitem" value="credits">Credits</button>
				</li>
			</ul>
			
		</div>
	</nav>
</form>