.highlight {
    padding: 9px 14px;
    margin-bottom: 10px;
    background-color: #494949;
    border: 1px solid #333333;
    border-radius: 4px;
  }

  .highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .highlight pre code {
    font-size: inherit;
    color: rgb(104, 159, 99); /* Effectively the base text color */
  }
  a {
      color: black;
  }
