a:link {
	transition: color 0.3s ease;
	text-decoration: none;
}


.intro{
	line-height: 200%;
	color: #333333;
}

.section{

	line-height: 150%;
}

#background-image {
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100px;
	widht: 100px;
}

