body {
    background-color: whitesmoke;
}

::-webkit-scrollbar { 
    display: none; 
}

#logo{
	height:55px;
	width:55px;
}

#nodelogo{
	width:500px;
	float:right;
	padding-left:30px;
}

.nav {
    background-color: #333333;
	font-family: 'Open Sans', sans-serif;
	height: 70px;
}

ul.nav.justify-content-end {
	background: transparent;
	padding-right: 20px;
}

#vline:hover{
 	pointer-events: none;
}

.nav-link {
	transition: color 0.5s ease;
	color: rgb(104, 159, 99);
	font-size: 18px;
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 24px;
	border: none;
	background: none;
}

.nav-link:focus{
	outline: 0;
}

.nav-link:hover{
	color: white;
}

.nav-item{
	color:rgb(104, 159, 99);
	font-size: 25px;

}


.title:hover {
	color: white;
}

.title{
	transition: color 0.5s ease;
	text-decoration: none;
	color: rgb(104, 159, 99);
	font-size: 42px;
	padding-left: 20px;
	border: none;
	background: none;
}

.title:focus{
	outline: 0;
}


.container-fluid{
	font-family: 'Roboto', sans-serif;
}

.footer {
	background-color: #333333;
}

#body {
	padding-top: 150px;
}

a:link {
	transition: color 0.3s ease;
	text-decoration: none;
}

a:hover {
	color: rgb(104, 159, 99);
	text-decoration: none;
}

.intro{
	line-height: 200%;
	color: #333333;
}

.section{

	line-height: 150%;
}

#background-image {
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100px;
	widht: 100px;
}

