body {
    background-color: whitesmoke;
}

::-webkit-scrollbar { 
    display: none; 
}

#logo{
	height:60px;
	width:60px;
	padding-top: 0px;
}

#portrait{
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.nav {
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
}

.nav-link {
	transition: color 0.5s ease;
	color: rgb(104, 159, 99);
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 25px;
	border: none;
	background: none;
}

.nav-link:focus{
	outline: 0;
}

.nav-link:hover{
	color: white;
}

.nav-item{
	color:rgb(104, 159, 99);
	font-size: 30px;
}


.title:hover {
	color: white;
}

.title{
	transition: color 0.5s ease;
	text-decoration: none;
	color: rgb(104, 159, 99);
	font-size: 42px;
	padding-left: 20px;
	border: none;
	background: none;
}

.title:focus{
	outline: 0;
}


.container-fluid{
	font-family: 'Roboto', sans-serif;
}

.footer {
	background-color: #333333;
}

#body {
	padding-top: 150px;
}

.contrib {
	padding: 20px;
	background-color: whitesmoke;
}

