.container {
    padding: 0px 50px 0px 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    border: 5px solid black;
    border-radius: 25px;
}

input {

    margin: 15px;

}

button {
    margin: 0px 0px 15px 0px;
}

#body {
  
}



