body {
    background-color: rgb(132, 196, 132);
    overflow-y;
}


.nav {
    box-shadow: 0 0 5px 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

a.nav-link {
	color: black;
	padding-right: 10px;
	padding-left: 10px;
}
