body {
    background-color: #FFFFFF;
}


.nav {
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
}

a.nav-link {
	color: #749D69;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
}

a.nav-link:hover{
	color: white;
}

.nav-item{
	color:#749D69;
	font-size: 30px;
}
a.title:hover {
	color: white;
}

a.title{
	color: #749D69;
	font-size: 30px;
	
}


.container-fluid{
	padding-top: 60px;
}

.footer {
	background-color: #333333;
}

