body {
    background-color: #ecf0f1;
}


.nav {
    background-color: #34495e;
    font-family: 'Open Sans', sans-serif;
}

a.nav-link {
	color: black;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
}
