<% include partials/header %>
<% include partials/navbar %>
<h1>Your First Express Application</h1>
<p>In this tutorial, we will create our very first Express app to collect information given to us by the user and manipulate it using Express.</p>
<p>Before we start this tutorial, please download and install Express. We provide a tutorial in our <a href="/install">installation</a> section on how to do this.
<% include partials/footer %>