<% include partials/header %>
		<div class="container-fluid align-content-center">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8" id="body">
					<h1>What is Express?</h1>
					<p>Express (js) is a minalistic, open-source web application framework for Nodejs. Express make things easier by shrinking complex functions and making them easier to understand/use.</p>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
<% include partials/footer %>