<% include partials/header %>
<% include partials/navbar %>
	<div>
	<img id="nodelogo" src="pictures/nodejs.svg">
	<br><br>	
	<a href="https://expressjs.com/"><h1 style="font-size:50px;">Express</h1></a>
	<h4 class="intro">A minimalistic, easy to use, open-source web application framework for <a href="https://nodejs.org/en/">Nodejs</a>.</h4>
	</div>

	<br><br>

	<div class="section">
	<h4>Introduction</h4>
	<p>Node.js is a Javascript run-time environment used to execute Javascript on the server. It has the expressed goal of using Javascript for both client and server side development so that web development can be unified around a single language. Express.js is the standard server side framework for Node.js. It is designed to make the building of web applications and APIs easy and intuitive.</p>
	</div>

	<div class="section">
	<h4>Advantages and Disadvantages</h4>
	<p>stuff</p>
	</div>

	<div class="section">
	<h4>Industry Use</h4>
	<p>More stuff</p>
	</div>

	<p> <h1>What to do: REMOVE LATER</h1>
		Page 1. A summary snapshot presentation of the Framework/CMS: Popularity, strengths, weaknesses, 
		which developers mostly use it and for what kind of websites. Specify if it is backend, or frontend, or both. 
		That page must be publicly available for your classmates to study for the final exam and will be considered required 
		readings for all. A copy of it (may even be a pdf snapshot) can be hosted on a different host if your original page is 
		not permanently and/or globally accessible.</p>
<% include partials/footer %>
