<% include partials/header %>
<% include partials/navbar %>
			<h1>What is Express?</h1>
			<p>Express (js) is a minalistic, open-source web application framework for Nodejs. Express makes things easier by shrinking complex functions and making them easier to understand/use.</p>
<% include partials/footer %>
