<% include partials/header %>
        <% include partials/navbar %>

                <div id="Experience">
                        <h1>Experience</h1>
                        <br>
                        <p>
                                Our Express.js experience was flawless, the framework was easy to get started with. It presented extremely intuitive
                                technologies easy to work with.
                        </p>
                </div>
                <hr>
                <div id="Expectations">
                        <h1>Did it meet our expectations?</h1>
                        <br>
                        <p>As a group, we really didn't have many expectations as to how Express was to perform. However, it really
                                surprised us how easy it was to setup and get a full website with multiple pages running.
                                In addition how easy it was to route pages compared to Node.js.
                        </p>
                </div>

                <hr>

                <div id="Difficulty">
                        <h1>Was it difficult to install or configure?</h1>
                        <br>
                        <p>
                                Because a lot of us had experience with Node.js, Express.js was simple to install with a minimal learning curve. With a few
                                NPM commands, we were able to pick it up and start working with it.
                        </p>
                </div>
                <hr>

                <div id="comparison">
                        <h1>Was the learning curve steep compared with regular HTML/CSS?</h1>
                        <br>
                        <p>
                                Because Express.js is a backend framework, we can't really compare the two. But overall we think that the learning curve
                                is minimal and easy to pickup.

                        </p>
                </div>
                <hr>

                <div id="comparison">
                        <h1>Would you have done things differently in retrospect?</h1>
                        <br>
                        <p>
                                In retrospect, we would have done a few things differently such as planning out our routes and website architecture before
                                hand. This is because we often had to come back and fix a lot of the code, due to miss planning.
                        </p>
                </div>
                <hr>

                <div id="regret">
                        <h1>Did you regret your choice of framework/CMS?</h1>
                        <br>
                        <p>
                                We do not regret using Express.js because it made working with Node.js much simpler and faster.
                        </p>
                </div>
                <hr>

                <div id="Conclusion">
                        <h1>Conclusion</h1>
                        <br>
                        <p>
                                Overall, our team had a good experience with Express.js. Issues were easy to resolve because of the framework's widespread
                                community support. As a team we give Express.js a 10/10.
                        </p>
                </div>



                <hr>

                <br>
                <br>
                <br>

                <% include partials/footer %>