<% include partials/header %>
<% include partials/navbar %>
<h1>Rating</h1>

<div id="Conclusion">
    <h1>Conclusion</h1>
    <p>
        Overall, our team had a good experience with Express.js. Because the framework is so popular,
        information about it was easy to find. In addition,
    </p>
</div>

<hr>

<div id="Experience">
        <h1>Experience</h1>
        <p></p>
</div>

<div id="Expectations">
        <h1>Did it perform to our expectations?</h1>
        <p></p>
</div>


<div id="Difficulty">
        <h1>Was it difficult to install or configure?</h1>
        <p></p>
</div>

<p>
    Page 5. The conclusion. Rate your experience with the framework/CMS that you chose.
     Did it perform to your expectations? Was it difficult to install or configure? 
     Was it easy the create the page with it? 
     Was the learning curve steep compared with regular HTML/CSS? Would you have done things differently in retrospect? 
     Did you regret your choice of framework/CMS?
</p>
<% include partials/footer %>