<% include partials/header %>
<% include partials/navbar %>

<div id="Conclusion">
    <h1>Conclusion</h1>
    <p>
        Overall, our team had a good experience with Express.js. Because the framework is so popular,
        information about it was easy to find. In addition,
    </p>
</div>

<hr>

<div id="Experience">
        <h1>Experience</h1>
        <p></p>
</div>

<div id="Expectations">
        <h1>Did it perform to our expectations?</h1>
        <p>As a group, we really didnt have much expectations as to how Express was to perform. However it really surprised us how easy it was to setup and get a website running. Many of us are used to installing multiple back-end applications to getting certain things done. Express was able to do many of those things. With Express being able to use Javascript for the back-end meant that we didnt have to learn a new language and there was already an extensive pool of knowlege to learn from if we did need help. A lot of the work we did on the website worked with minimal struggling.</p>
</div>


<div id="Difficulty">
        <h1>Was it difficult to install or configure?</h1>
        <p>There was a bit of learning curve when installing Express. Becuase we didnt have any expirience with Nodejs, we found that we had to look for guides on Nodejs when setting up. The setup expirience overall was easy and painless. On linux to was a couple of terminal commands, and on Windows it was a simple installer and 1 or 2 CMD commands.</p>
        <p>NPM played a huge part in making installation and setup convenient and fast. Setting up Express/Nodejs on every computer was done quickly with just one line and there were little to no problems when using it.</p>
</div>

<p>
    Page 5. The conclusion. Rate your experience with the framework/CMS that you chose.
     Did it perform to your expectations? Was it difficult to install or configure? 
     Was it easy the create the page with it? 
     Was the learning curve steep compared with regular HTML/CSS? Would you have done things differently in retrospect? 
     Did you regret your choice of framework/CMS?
</p>
<% include partials/footer %>