<% include partials/header %>
<% include partials/navbar %>
<h1>Conclusion</h1>
<p>Some of us have never worked with express before, let alone nodejs.</p>
<p>like the fact that it is very dynamic (templates). With templates we dont have to reuse code .and allows for unifcation of language for the front end to the back end</p>
<p></p>
<% include partials/footer %>