<% include partials/result_header %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            
            $("#butt").click(function () {
                var city = $("input:text").val();

                var request = $.ajax({
                    url: "weather",
                    type: "POST",
                    data: { city: city },
                    dataType: "json"
                });

                request.done(function (msg) {
                    console.log(msg);
                    if(!msg.hasOwnProperty('error')){
                        $("#result").text(msg.main.temp);
                    }else{
                        $("#result").text("Error!");
                    }
                });

            });
        });

    </script>
    </head>

    <body>
        <div class="container-fluid align-content-center">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8" id="body">
                    <% include partials/navbar %>
                        <h1>RESULTS</h1>

                        <div class="container">

                            <input id="city" name="city" type="text" placeholder="Enter a City" required>
                            <button id="butt">Get Weather</button>

                            <div id="result"></div>

                        </div>
                        <p> </p>

                        <% include partials/footer %>